/crash-reports
/saves
/logs
/XaeroWaypoints_BACKUP240807
/xaero
/patchouli_books
/modernfix
/local
/crash-reports
/.mixin.out
/patchouli_data.json
/servers.dat
/servers.dat_old
/usercache.json
/usernamecache.json
/win_event1779896389353.txt